In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
batting_data = pd.read_excel('Batsman_round1.xlsx')
bowling_data = pd.read_excel('Bowler_round1.xlsx')
match_data = pd.read_excel('Matchlevel_round1.xlsx')

In [29]:
print(batting_data)

       match id batsman  batsman_id batsman_dob  \
0       8638034   DG Be       31464  1984-07-30
1       8638041   DG Be       31464  1984-07-30
2       8638055   DG Be       31464  1984-07-30
3       8587802   DT Cn       34061  1983-05-04
4       8587802   DT Cn       34061  1983-05-04
...         ...     ...         ...         ...
24920   9684982   Sv Dy     9822322  2003-12-23
24921   9684541   PR Vr     9822392  2005-11-24
24922   9866331   BJ Js     9874052  2002-05-06
24923   9887856    T Si     9883250  2005-06-04
24924   9887856    S Ua     9899140  1997-02-22

                                  batsman_details  is_batsman_captain  \
0             NZ:Right-hand bat:Right-arm medium:                   0
1             NZ:Right-hand bat:Right-arm medium:                   0
2             NZ:Right-hand bat:Right-arm medium:                   0
3       AUS:Right-hand bat:Right-arm fast-medium:                   0
4       AUS:Right-hand bat:Right-arm fast-medium:                   0
...                                           ...                 ...
24920        IND:Right-hand bat:Right-arm medium:                   0
24921  IND:Right-hand bat:Slow left-arm orthodox:                   0
24922         NZ:Right-hand bat:Right-arm medium:                   0
24923                    UAE:Right-hand bat:None:                   0
24924                 UAE:Left-hand bat:Legbreak:                   0

       is_batsman_keeper  inning  runs  balls_faced  ...  bowler_id  \
0                      0       1   8.0           11  ...  2486896.0
1                      0       1   2.0            4  ...  4195827.0
2                      0       2   0.0            3  ...  8447396.0
3                      0       2   0.0            1  ...  6722540.0
4                      0       2   0.0            1  ...  6722540.0
...                  ...     ...   ...          ...  ...        ...
24920                  0       1   0.0            1  ...        NaN
24921                  0       1   0.0            1  ...  9822441.0
24922                  0       2  42.0           20  ...  2486896.0
24923                  1       2  20.0           25  ...        NaN
24924                  0       2   4.0           10  ...  6819238.0

       bowler_dob                             bowler_details is_bowler_keeper  \
0      1990-09-17    NZ:Left-hand bat:Right-arm medium-fast:              0.0
1      1993-04-13        NZ:Right-hand bat:Right-arm medium:              0.0
2      1994-12-14   NZ:Left-hand bat:Slow left-arm orthodox:              0.0
3      2000-08-02        NEP:Right-hand bat:Legbreak googly:              0.0
4      2000-08-02        NEP:Right-hand bat:Legbreak googly:              0.0
...           ...                                        ...              ...
24920         NaN                                        NaN              NaN
24921  1996-11-10  IND:Right-hand bat:Right-arm medium-fast:              0.0
24922  1990-09-17    NZ:Left-hand bat:Right-arm medium-fast:              0.0
24923         NaN                                        NaN              NaN
24924  2000-09-22   AFG:Right-hand bat:Left-arm fast-medium:              0.0

       is_bowler_captain strike_rate Fours  Sixes    match_dt  \
0                    0.0       72.73     1    NaN  2021-01-01
1                    0.0       50.00   NaN    NaN  2021-01-02
2                    0.0        0.00   NaN    NaN  2021-01-04
3                    0.0        0.00   NaN    NaN  2021-01-24
4                    0.0        0.00   NaN    NaN  2021-01-24
...                  ...         ...   ...    ...         ...
24920                NaN        0.00   NaN    NaN  2023-11-04
24921                0.0        0.00   NaN    NaN  2023-10-21
24922                0.0      210.00     4      3  2023-12-19
24923                NaN       80.00     1    NaN  2023-12-29
24924                0.0       40.00   NaN    NaN  2023-12-29

       ingestion_timestamp
0      2022-03-22 12:43:21
1      2022-03-22 12:43:21
2      2022-03-22 12:43:21
3      2022-03-22 12:43:21
4      2022-03-13 18:43:20
...                    ...
24920  2024-03-26 03:41:36
24921  2024-03-26 03:41:36
24922  2024-03-26 03:41:36
24923  2024-03-26 03:41:36
24924  2024-03-26 03:41:36

[24925 rows x 24 columns]

In [30]:
print(bowling_data.head())

   match id bowler  bowler_id  bowler_dob  \
0   8587837  DT Cn      34061  1983-05-04
1   8587907  DT Cn      34061  1983-05-04
2   8587816  DT Cn      34061  1983-05-04
3   8587998  DT Cn      34061  1983-05-04
4   8588040  DT Cn      34061  1983-05-04

                              bowler_details  is_bowler_captain  \
0  AUS:Right-hand bat:Right-arm fast-medium:                  0
1  AUS:Right-hand bat:Right-arm fast-medium:                  0
2  AUS:Right-hand bat:Right-arm fast-medium:                  0
3  AUS:Right-hand bat:Right-arm fast-medium:                  0
4  AUS:Right-hand bat:Right-arm fast-medium:                  0

   is_bowler_keeper  inning  runs  wicket_count  balls_bowled  economy  \
0                 0       2  35.0             2            18    11.67
1                 0       1  22.0             1            24     5.50
2                 0       1  34.0             0            25     8.16
3                 0       1  34.0             1            18    11.33
4                 0       1  20.0             0            12    10.00

   maiden dots  Fours  Sixes wides  noballs    match_dt ingestion_timestamp
0       0    4      3      1     2        0  2021-01-02 2022-03-21 03:44:58
1       0    7      0      0     1        0  2021-01-03 2022-03-21 03:44:58
2       0    7      4      0     1        0  2021-01-06 2022-03-21 03:44:58
3       0    8      4      2     1        0  2021-01-10 2022-03-21 03:44:58
4       0    4      1      1     1        0  2021-01-13 2022-03-21 03:44:58

In [31]:
print(match_data.head())

   match id  team1  team2 outcome winner       by  win amount player of match  \
0   8587795  Ae Ss  Me Rs  normal  Me Rs  wickets           6           Md Ni
1   8587802  Ht Hs  Sy Ss  normal  Ht Hs     runs           7           MS We
2   8587816  Ph Ss  Sy Ss  normal  Ph Ss      NaN          86           MR Mh
3   8587837  Sy Ss  Be Ht  normal  Be Ht  wickets           4           MT Se
4   8587844  Ae Ss  Me Rs  normal  Ae Ss     runs          60           RJ Gn

  toss winner toss decision  ... inning2_runs inning2_wickets inning2_balls  \
0       Ae Ss           bat  ...          178               4           120
1       Sy Ss         field  ...          181               8           120
2       Sy Ss         field  ...           97              10           100
3       Sy Ss           bat  ...          171               6           119
4       Ae Ss           bat  ...          111             Ten           116

  team1_id                                 team1_roster_names  \
0  33914.0  MT Rw:PD St:AT Cy:J Wd:RJ Gn:JW Ws:Rd Kn:DR Bs...
1  33928.0  MS We:DM St:BR Mt:DJ Mn:WG Js:TH Dd:NT Es:NP W...
2  33935.0  JJ Ry:LS Le:C Mo:JP Is:MR Mh:AJ Tr:AM He:JA Rn...
3  33956.0  JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:BJ Ds...
4  33914.0  MT Rw:PD St:AT Cy:JW Ws:RJ Gn:J Wd:Rd Kn:DR Bs...

                                    team1_roster_ids team2_id  \
0  5056134.0:4685568.0:2285051.0:5469008.0:577649...  33942.0
1  1611364.0:2161599.0:4223883.0:1655436.0:628285...  33956.0
2  2089079.0:2827327.0:1626526.0:4635658.0:190716...  33956.0
3  7869987.0:7620283.0:2076192.0:4002340.0:306369...  33921.0
4  5056134.0:4685568.0:2285051.0:1635773.0:577649...  33942.0

                                  team2_roster_names  \
0  MW Hy:AJ Fh:SB Hr:Md Ni:JA Pe:J Fk:BJ Wr:Id Wm...
1  JR Pe:JM Ve:DP Hs:MC Hs:JC Sk:DT Cn:CR Be:SA A...
2  JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:SJ Oe...
3  M Bt:JA Bs:JL Dy:SD Ht:JJ Pn:L Gy:JJ By:JD Wh:...
4  AJ Fh:MW Hy:SB Hr:Md Ni:BJ Wr:Id Wm:J Fk:JA Pe...

                                    team2_roster_ids ingestion_timestamp
0  7534687.0:37351.0:5406540.0:181404.0:6842170.0... 2022-02-18 03:12:45
1  7869987.0:2076192.0:4002340.0:41740.0:3063696.... 2022-02-18 03:12:45
2  7869987.0:7620283.0:2076192.0:4002340.0:306369... 2022-02-18 03:12:45
3  7620269.0:2286437.0:87191.0:5786766.0:3114803.... 2022-02-18 03:12:45
4  37351.0:7534687.0:5406540.0:181404.0:2669316.0... 2022-02-18 03:12:45

[5 rows x 33 columns]

In [32]:
batting_data.dtypes

match id                        int64
batsman                        object
batsman_id                      int64
batsman_dob                    object
batsman_details                object
is_batsman_captain              int64
is_batsman_keeper               int64
inning                          int64
runs                          float64
balls_faced                     int64
over_faced_first              float64
wicket kind                    object
out_by_bowler                  object
out_by_fielder                 object
bowler_id                     float64
bowler_dob                     object
bowler_details                 object
is_bowler_keeper              float64
is_bowler_captain             float64
strike_rate                   float64
Fours                          object
Sixes                          object
match_dt                       object
ingestion_timestamp    datetime64[ns]
dtype: object

In [33]:
bowling_data.dtypes

match id                        int64
bowler                         object
bowler_id                       int64
bowler_dob                     object
bowler_details                 object
is_bowler_captain               int64
is_bowler_keeper                int64
inning                          int64
runs                          float64
wicket_count                    int64
balls_bowled                    int64
economy                       float64
maiden                          int64
dots                           object
Fours                           int64
Sixes                           int64
wides                          object
noballs                         int64
match_dt                       object
ingestion_timestamp    datetime64[ns]
dtype: object

In [34]:
match_data.dtypes

match id                        int64
team1                          object
team2                          object
outcome                        object
winner                         object
by                             object
win amount                      int64
player of match                object
toss winner                    object
toss decision                  object
match type                     object
venue                          object
city                           object
match_dt                       object
lighting                       object
series_name                    object
season                         object
ground_id                       int64
umpire1                        object
umpire2                        object
inning1_runs                    int64
inning1_wickets                object
inning1_balls                   int64
inning2_runs                    int64
inning2_wickets                object
inning2_balls                   int64
team1_id                      float64
team1_roster_names             object
team1_roster_ids               object
team2_id                      float64
team2_roster_names             object
team2_roster_ids               object
ingestion_timestamp    datetime64[ns]
dtype: object

In [35]:
batting_data.columns,bowling_data.columns,match_data.columns

(Index(['match id', 'batsman', 'batsman_id', 'batsman_dob', 'batsman_details',
        'is_batsman_captain', 'is_batsman_keeper', 'inning', 'runs',
        'balls_faced', 'over_faced_first', 'wicket kind', 'out_by_bowler',
        'out_by_fielder', 'bowler_id', 'bowler_dob', 'bowler_details',
        'is_bowler_keeper', 'is_bowler_captain', 'strike_rate', 'Fours',
        'Sixes', 'match_dt', 'ingestion_timestamp'],
       dtype='object'),
 Index(['match id', 'bowler', 'bowler_id', 'bowler_dob', 'bowler_details',
        'is_bowler_captain', 'is_bowler_keeper', 'inning', 'runs',
        'wicket_count', 'balls_bowled', 'economy', 'maiden', 'dots', 'Fours',
        'Sixes', 'wides', 'noballs', 'match_dt', 'ingestion_timestamp'],
       dtype='object'),
 Index(['match id', 'team1', 'team2', 'outcome', 'winner', 'by', 'win amount',
        'player of match', 'toss winner', 'toss decision', 'match type',
        'venue', 'city', 'match_dt', 'lighting', 'series_name', 'season',
        'ground_id', 'umpire1', 'umpire2', 'inning1_runs', 'inning1_wickets',
        'inning1_balls', 'inning2_runs', 'inning2_wickets', 'inning2_balls',
        'team1_id', 'team1_roster_names', 'team1_roster_ids', 'team2_id',
        'team2_roster_names', 'team2_roster_ids', 'ingestion_timestamp'],
       dtype='object'))

In [36]:
batting_data.drop_duplicates(inplace=True)
bowling_data.drop_duplicates(inplace=True)
match_data.drop_duplicates(inplace=True)

In [37]:
print(batting_data.isnull().sum())

match id                   0
batsman                    0
batsman_id                 0
batsman_dob                0
batsman_details            0
is_batsman_captain         0
is_batsman_keeper          0
inning                     0
runs                      50
balls_faced                0
over_faced_first           0
wicket kind             5470
out_by_bowler           5470
out_by_fielder         10950
bowler_id               6518
bowler_dob              6518
bowler_details          6518
is_bowler_keeper        5931
is_bowler_captain       6518
strike_rate              100
Fours                  10482
Sixes                  15718
match_dt                   0
ingestion_timestamp        0
dtype: int64

In [38]:
batting_data['runs'] = batting_data['runs'].fillna(batting_data['runs'].mean())
batting_data['strike_rate'] = batting_data['strike_rate'].fillna(batting_data['strike_rate'].mean())

In [39]:
print(batting_data.isnull().sum())

match id                   0
batsman                    0
batsman_id                 0
batsman_dob                0
batsman_details            0
is_batsman_captain         0
is_batsman_keeper          0
inning                     0
runs                       0
balls_faced                0
over_faced_first           0
wicket kind             5470
out_by_bowler           5470
out_by_fielder         10950
bowler_id               6518
bowler_dob              6518
bowler_details          6518
is_bowler_keeper        5931
is_bowler_captain       6518
strike_rate                0
Fours                  10482
Sixes                  15718
match_dt                   0
ingestion_timestamp        0
dtype: int64

In [40]:
print(bowling_data.isnull().sum())

match id                0
bowler                  0
bowler_id               0
bowler_dob              0
bowler_details          0
is_bowler_captain       0
is_bowler_keeper        0
inning                  0
runs                   50
wicket_count            0
balls_bowled            0
economy                50
maiden                  0
dots                    2
Fours                   0
Sixes                   0
wides                  35
noballs                 0
match_dt                0
ingestion_timestamp     0
dtype: int64

In [41]:
bowling_data['runs'] = bowling_data['runs'].fillna(bowling_data['runs'].mean())
bowling_data['economy'] = bowling_data['economy'].fillna(bowling_data['economy'].mean())

In [42]:
print(bowling_data.isnull().sum())

match id                0
bowler                  0
bowler_id               0
bowler_dob              0
bowler_details          0
is_bowler_captain       0
is_bowler_keeper        0
inning                  0
runs                    0
wicket_count            0
balls_bowled            0
economy                 0
maiden                  0
dots                    2
Fours                   0
Sixes                   0
wides                  35
noballs                 0
match_dt                0
ingestion_timestamp     0
dtype: int64

In [43]:
print(match_data.isnull().sum())

match id                 0
team1                    0
team2                    0
outcome                  0
winner                   0
by                      52
win amount               0
player of match          0
toss winner              0
toss decision            0
match type               0
venue                    0
city                   184
match_dt                 0
lighting                 0
series_name              0
season                   0
ground_id                0
umpire1                186
umpire2                186
inning1_runs             0
inning1_wickets          0
inning1_balls            0
inning2_runs             0
inning2_wickets          0
inning2_balls            0
team1_id                82
team1_roster_names       0
team1_roster_ids        82
team2_id                76
team2_roster_names       0
team2_roster_ids        76
ingestion_timestamp      0
dtype: int64

In [44]:
import numpy as np
from scipy import stats

# Function to detect outliers using Z-score
def detect_outliers(df, columns):
    for col in columns:
        z_scores = np.abs(stats.zscore(df[col]))
        outliers = (z_scores > 3)  # Threshold of 3 standard deviations
        df[col][outliers] = np.nan

# Function to replace outliers with mean
def replace_outliers_with_mean(df, columns):
    for col in columns:
        z_scores = np.abs(stats.zscore(df[col]))
        outliers = (z_scores > 3)  # Redefine outliers based on Z-score
        not_outliers = ~(df[col].isnull() | outliers)
        mean_val = df.loc[not_outliers, col].mean()
        df.loc[outliers, col] = mean_val

# Detect outliers in specific columns
detect_outliers(batting_data, ['runs', 'strike_rate'])
detect_outliers(bowling_data, ['wicket_count', 'economy'])
detect_outliers(match_data, ['inning1_runs', 'inning2_runs'])

# Replace outliers with mean in specific columns
replace_outliers_with_mean(batting_data, ['runs', 'strike_rate'])
replace_outliers_with_mean(bowling_data, ['wicket_count', 'economy'])
replace_outliers_with_mean(match_data, ['inning1_runs', 'inning2_runs'])

C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[col][outliers] = np.nan
C:\Users\singh\AppData\Local\Temp\ipykernel_23072\65252112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][outliers] = np.nan

In [45]:
batting_data.to_excel('clean batsman.xlsx',index=False)
bowling_data.to_excel('clean bowling.xlsx',index=False)
match_data.to_excel('clean match.xlsx',index=False)